@font-face {
    font-family: pixel;
    src: url(assets/pixel.ttf)
}

body {
    font-family: pixel;
}

#akadalytitle{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: normal;
    font-style: oblique;
    color: black;
}

#kep{
    width: 350px;
    height: 350px;
}

.row{
    padding: auto;
}


#fejleszteskep{
    width: 300px;
    height: 300px;
    margin-left: 160px;
    margin-top: 70px;
    margin-bottom: 20px;
}

#coinkep, #magnetkep, #shieldkep, #turbokep, #turretkep,#upgradekep{
    width: 270px;
    height: 300px;
    margin-left: 160px;
    margin-top: 70px;
    margin-bottom: 20px;
}

#table{
    margin-top: 50px;
    margin-left: 50px;
}


#keret{
    border: solid 5px black;
    border-radius: 15px;
}

#fejleszteskartya1, #indexkartya1{
    border-radius: 15px;
    color: "#c2f9f8";
    margin-top: 80px;
}

#fejleszteskartya2, #indexkartya2{
    border-radius: 15px;
    color: "#c2f9f8";
    margin-top: 5px;
}

#akadalykartya{
    border-radius: 15px;
    margin-top: 5px;
}

#fooldalkep{
    height: 275px;
}

#fejleszteskep{
    width: 500px;
    height: 275px;
}

#szoveg{
    font-size: 20px;
}

#largerszoveg{
    font-size: 25px;
}

#logokep{
    height: 275px;
}